
#Ignore all .meta file
*.meta
#But not source file with postfix. which is everything but a folder
!*.*.meta

IVGM-FPS-Project-Template-master/Assets/Lava_Flowing_Shader/Materials/lava1_transparent.mat
